body{
    background-color: rgb(248, 248, 231);
}

/*navbar*/

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin-top:0px;
    text-shadow: 2px 4px 8px gray;
    font-size: larger;
    position: absolute;
    top:-40;
    
    
 }
  ul{
   
    list-style-type: none;
    padding-top:0px;
    margin-left: 380px;
   margin-bottom: 10;
    overflow: hidden;
    
    
   
  }
 li  {
    display: inline-block ; 
    color: rgb(192, 54, 54);
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    text-shadow: 2px 4px 8px wheat;
    
  
   
 }
 nav :hover {
    
    color: rgb(197, 20, 20);
    
}
h2{        
    color: rgb(43, 43, 44);
    font-size: 40px;
    text-shadow: 2px 4px 8px wheat;
    font-family: 'Italianno', cursive;

}
a{
    text-decoration: none;
    color:rgb(43, 43, 44); 
    
    
}

h3{
   
    font-size: 0px;
    margin-top: 150px;
    height: 100px;

    text-shadow: 2px 4px 8px wheat;
    font-family: 'Italianno', cursive;

}


.div6{
    background-color: rgb(246, 245, 245);
   
    height: 400px;
    width: 1000px;
    margin-left: 200px;
    margin-top: 40px;
}

.form-box{
    border: 1px solid rgb(11, 10, 10);
    width: 400px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    background: #f9f7f7;
    padding: 5px;
    margin-bottom: 150px;
    overflow: hidden;
   


}

.button-box{
     width: 270px;
     margin: 45px auto;
     position: relative;
     box-shadow: 0 0 20px 9px #ff61241f;
     border-radius: 30px;

}
.toggle-bnt{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size:16px;
}
#btn{
    top: 0;
    left: 0;
    position:absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: 1s;
}

.social-icons{
   margin: 30px auto;
   text-align: center;

}
.social-icons img{
    width: 40px; 
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%; 
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-flied{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom:1px solid #999 ;
    outline: none;
    background: transparent;
}
.submit-bnt{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    outline: none;
    border-radius:30px ;
}
.check_box{
    margin: 30px 10px 30px 0;
}
#sp5{
    color: #777;
    font-size: 14px;
    bottom: 68px;
    position: absolute ;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}


#showPassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }


  #mon{
    border: 1px solid rgb(11, 10, 10);
  background-color: #fbfcfa;
  height: 100px;
  width: 1430px;
  padding-left: 30px;
  padding-top: 20px;

  }
  